config = {
    'irc': {
        'server': 'chat.freenode.net',
        'port': 6697,
        'ssl': True,
        'channel': '#bot-test',
        'blacklist': [
            'another_bot'
        ]
    },
    'Telegram': {
        'http_proxy': 'http://127.0.0.1:8008/',
        'token': '123456:abcdefgABCDEFG',
        'chat_id': '-1234567',
        'blacklist': [
            '123456789'
        ],
        'irc': {
            'nick': 'telegram_bot',
            'password': 'password_telegram',
        },
    },
    'QQ': {
        'group_id': 653148038,
        'base_uri': 'ws://127.0.0.1:6700',
        'irc': {
            'nick': 'tencent_qq_bot',
            'password': 'password_qq',
        },
        'blacklist': [
            '123456789'
        ],
    },
}
